/*Import the default css-es */

@import url('cockpit.css');




button.z-button-os.y-btn-warning {
    background-color: #f16b46;
    border: medium none;
    border-radius: 0 0 0 0;
    color: #FFFFFF !important;
    cursor: pointer;
    font-family: 'Roboto',Arial,sans-serif !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 100 !important;
    height: 30px;
    line-height: 25px;
    margin-left: 0;
    padding: 0 15px;
}

.mediaInfoHeader{
    font-weight: bold;
}

.mediaInfoCnt{
    float:left;
    width: 332px;
}
.previewPlaceholder{
    width:300px; display: inline-block; text-align: center;
}

.small-image-preview-cnt img{
    display: block; height: auto; max-width: 100%; z-index:2000;
    border: 1px solid #bcc1cc;
    border-radius: 1px;
}

.media-fileupload .z-button-br,
.media-fileupload .z-button-bm, .media-fileupload .z-button-bl,
.media-fileupload .z-button-cl, .media-fileupload .z-button-cr,
.media-fileupload .z-button-tl, .media-fileupload .z-button-tm,
.media-fileupload .z-button-tr{
    background-image: none;
}

.media-fileupload .z-button-cm {
    background-image: none;
    font-size: 16px;
    font-style:normal;
    font-weight:100;
    color: #ffffff;
    font-family: 'Roboto',Arial,sans-serif;

}



.media-fileupload,
button.media-download-btn,
button.media-clear-content-btn{
    height: 30px;
    width: 160px;
    background-repeat: no-repeat;
    background-position: 5px 50%;
    margin-bottom: 15px
}

/* IE 9 FIX */
.media-fileupload.z-button > table{
    width: 160px;
}

.media-fileupload{
    background-color: #6F7C91;
    background-image: url('images/icon_func_upload.png');

}

button.media-download-btn {
    background-image: url('images/icon_func_download.png');

}
button.media-clear-content-btn{
    background-image: url('images/icon_func_clear.png');
    background-color: #f16b46!important;
}

.yw-collection-preview-cnt{
    background: #d3d9df;
}


.yw-collection-preview > div.z-listbox-body{
    background: #f6f7f9;

}

.yw-collection-preview > div.z-listbox {
    border:none;
}

.yw-collection-preview  > div.z-listboxdiv .z-listbox-body .z-listitem{
    background: none;

}




/*Icons for explorer tree */

div.yw-explorerTree .y-tree-icon-hmc_typenode_jalotranslatorconfiguration span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_jalotranslatorconfiguration span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/02_configuration_for_content.png");
}
div.yw-explorerTree .y-tree-icon-hmc_typenode_link span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_link span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/09_links.png");
}
div.yw-explorerTree .y-tree-icon-hmc_typenode_savedvalues span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_savedvalues span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/011_last_changes.png");
}
div.yw-explorerTree .y-tree-icon-hmc_typenode_format span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_format span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/013_documents_templates.png");
}
div.yw-explorerTree .y-tree-icon-hmc_typenode_itemformatter span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_itemformatter span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/014_format_converter.png");
}
div.yw-explorerTree .y-tree-icon-hmc_typenode_mediaformatter span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_mediaformatter span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/015_layer_converter.png");
}
div.yw-explorerTree .y-tree-icon-hmc_typenode_document span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_document span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/016_all_documents.png");
}
div.yw-explorerTree .y-tree-icon-hmc_typenode_renderertemplate span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_renderertemplate span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/017_communcation_template.png");
}
div.yw-explorerTree .y-tree-icon-hmc_typenode_type span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_type span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/018_types.png");
}
div.yw-explorerTree .y-tree-icon-hmc_typenode_savedquery span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_savedquery span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/019_saved_queries.png");
}

div.yw-explorerTree .y-tree-icon-viewtype span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-viewtype span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/020_report_definitions.png");
}

div.yw-explorerTree .y-tree-icon-hmc_typenode_searchrestriction span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_searchrestriction span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/021_personalization.png");
}
div.yw-explorerTree .y-tree-icon-hmc_typenode_luceneindex span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_luceneindex span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/024_lucene_search_indexes.png");
}
div.yw-explorerTree .y-tree-icon-hmc_typenode_workflowtemplate span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_workflowtemplate span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/029_workflow_templates.png");
}
div.yw-explorerTree .y-tree-icon-hmc_typenode_workflow span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_workflow span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/030_workflows.png");
}
div.yw-explorerTree .y-tree-icon-hmc_typenode_workflowaction span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_workflowaction span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/031_actions.png");
}
div.yw-explorerTree .y-tree-icon-hmc_typenode_cronjob span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_cronjob span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/023_cronJobs.png");
}
div.yw-explorerTree .y-tree-icon-hmc_typenode_constraintgroup span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_constraintgroup span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/026_constraint_groups.png");
}
div.yw-explorerTree .y-tree-icon-hmc_typenode_abstractconstraint span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_abstractconstraint span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/027_constraints.png");
}
div.yw-explorerTree .y-tree-icon-hmc_typenode_businessprocess span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_businessprocess span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/032_business_process.png");
}
div.yw-explorerTree .y-tree-icon-hmc_typenode_category span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_category span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/038_categories.png");
}
div.yw-explorerTree .y-tree-icon-hmc_typenode_varianttype span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_varianttype span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/040_product_variant_types.png");
}
div.yw-explorerTree .y-tree-icon-hmc_typenode_catalog span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_catalog span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/037_catalogs.png");
}
div.yw-explorerTree .y-tree-icon-hmc_typenode_catalogversion span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_catalogversion span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/0107_catalog_version.png");
}
div.yw-explorerTree .y-tree-icon-hmc_typenode_product span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_product span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/039_products.png");
}
div.yw-explorerTree .y-tree-icon-hmc_typenode_unit span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_unit span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/041_units.png");
}
div.yw-explorerTree .y-tree-icon-hmc_typenode_keyword span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_keyword span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/042_keywords.png");
}
div.yw-explorerTree .y-tree-icon-hmc_typenode_classificationclass span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_classificationclass span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/047_classifying_categories.png");
}
div.yw-explorerTree .y-tree-icon-hmc_typenode_classificationattribute span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_classificationattribute span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/048_feature_list.png");
}
div.yw-explorerTree .y-tree-icon-hmc_typenode_classificationattributevalue span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_classificationattributevalue span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/049_feature_values.png");
}
div.yw-explorerTree .y-tree-icon-hmc_typenode_classificationattributeunit span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_classificationattributeunit span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/050_classification_units.png");
}
div.yw-explorerTree .y-tree-icon-hmc_typenode_media span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_media span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/051_media.png");
}
div.yw-explorerTree .y-tree-icon-hmc_typenode_mediafolder span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_mediafolder span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/052_media_folders.png");
}
div.yw-explorerTree .y-tree-icon-hmc_typenode_mediacontainer span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_mediacontainer span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/053_media_containers.png");
}
div.yw-explorerTree .y-tree-icon-hmc_typenode_mediaformat span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_mediaformat span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/054_media_formats.png");
}
div.yw-explorerTree .y-tree-icon-hmc_typenode_mediacontext span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_mediacontext span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/055_media_context.png");
}

div.yw-explorerTree .y-tree-icon-hmc_typenode_company span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_company span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/056_companies.png");
}
div.yw-explorerTree .y-tree-icon-hmc_typenode_usergroup span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_usergroup span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/057_user_groups.png");
}
div.yw-explorerTree .y-tree-icon-hmc_typenode_employee span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_employee span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/058_employees.png");
}
div.yw-explorerTree .y-tree-icon-hmc_typenode_customer span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_customer span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/059_castomers.png");
}
div.yw-explorerTree .y-tree-icon-hmc_typenode_address span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_address span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/060_addresses.png");
}
div.yw-explorerTree .y-tree-icon-hmc_typenode_title span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_title span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/061_titles.png");
}
div.yw-explorerTree .y-tree-icon-hmc_typenode_agreement span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_agreement span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/062_agreements.png");
}
div.yw-explorerTree .y-tree-icon-hmc_typenode_order span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_order span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/063_orders.png");
}
div.yw-explorerTree .y-tree-icon-hmc_typenode_orderentry span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_orderentry span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/064_order_entries.png");
}
div.yw-explorerTree .y-tree-icon-hmc_typenode_productpricegroup span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_productpricegroup span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/066_product_prices_claces.png");
}
div.yw-explorerTree .y-tree-icon-hmc_typenode_userpricegroup span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_userpricegroup span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/067_customer_prices_claces.png");
}
div.yw-explorerTree .y-tree-icon-hmc_typenode_pricerow span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_pricerow span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/068_price_rows.png");
}
div.yw-explorerTree .y-tree-icon-hmc_typenode_tax span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_tax span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/070_taxes.png");
}
div.yw-explorerTree .y-tree-icon-hmc_typenode_producttaxgroup span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_producttaxgroup span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/071_product_class_taxes.png");
}
div.yw-explorerTree .y-tree-icon-hmc_typenode_usertaxgroup span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_usertaxgroup span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/072_customer_taxes_jurisdiction.png");
}
div.yw-explorerTree .y-tree-icon-hmc_typenode_taxrow span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_taxrow span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/073_tax_rows.png");
}
div.yw-explorerTree .y-tree-icon-hmc_typenode_discount span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_discount span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/075_discounts.png");
}
div.yw-explorerTree .y-tree-icon-hmc_typenode_productdiscountgroup span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_productdiscountgroup span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/076_product_discount_classes.png");
}
div.yw-explorerTree .y-tree-icon-hmc_typenode_userdiscountgroup span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_userdiscountgroup span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/076_customer_discount_groups.png");
}
div.yw-explorerTree .y-tree-icon-hmc_typenode_abstractdiscountrow span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_abstractdiscountrow span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/077_discount_rows.png");
}
div.yw-explorerTree .y-tree-icon-hmc_typenode_zonedeliverymode span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_zonedeliverymode span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/079_delivery_costs.png");
}
div.yw-explorerTree .y-tree-icon-hmc_typenode_standardpaymentmode span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_standardpaymentmode span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/078_payment_methods.png");
}
div.yw-explorerTree .y-tree-icon-hmc_typenode_language span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_language span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/080_languages.png");
}
div.yw-explorerTree .y-tree-icon-hmc_typenode_currency span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_currency span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/081_currencies.png");
}
div.yw-explorerTree .y-tree-icon-hmc_typenode_country span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_country span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/082_countries.png");
}
div.yw-explorerTree .y-tree-icon-hmc_typenode_region span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_region span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/083_regions.png");
}
div.yw-explorerTree .y-tree-icon-hmc_typenode_cart span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_cart span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/085_carts.png");
}
div.yw-explorerTree .y-tree-icon-hmc_typenode_cartentry span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_cartentry span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/086_cart_entries.png");
}
div.yw-explorerTree .y-tree-icon-hmc_typenode_productreference span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_productreference span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/087_product_references.png");
}
div.yw-explorerTree .y-tree-icon-hmc_typenode_abstractlinkentry span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_abstractlinkentry span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/094_link.png");
}

div.yw-explorerTree .y-tree-icon-hmc_typenode_abstractlinkentry span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_typenode_abstractlinkentry span.z-vfiletree-last {
    background-image: url("images/explorer-tree/icons/094_link.png");
}

div.yw-explorerTree .y-tree-icon-hmc_backoffice-workflow-inbox span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-hmc_backoffice-workflow-inbox span.z-vfiletree-last,
div.yw-explorerTree .y-tree-icon-hmc_backoffice-workflow-inbox span.z-vfiletree-ico
{
    background-image: url("images/explorer-tree/icons/icon_tree_inbox.png");
}

div.yw-explorerTree .y-tree-icon-Script span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-Script span.z-vfiletree-last,
div.yw-explorerTree .y-tree-icon-Script span.z-vfiletree-ico
{
    background-image: url("images/explorer-tree/icons/0109_script.png");
}

div.yw-explorerTree .y-tree-icon-ScriptingJob span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-ScriptingJob span.z-vfiletree-last,
div.yw-explorerTree .y-tree-icon-ScriptingJob span.z-vfiletree-ico
{
    background-image: url("images/explorer-tree/icons/0110_scriptingJob.png");
}

div.yw-explorerTree .y-tree-icon-ScriptingTask span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-ScriptingTask span.z-vfiletree-last,
div.yw-explorerTree .y-tree-icon-ScriptingTask span.z-vfiletree-ico
{
    background-image: url("images/explorer-tree/icons/0111_scriptingTask.png");
}

div.yw-explorerTree .y-tree-icon-DynamicProcessDefinition span.z-vfiletree-tee,
div.yw-explorerTree .y-tree-icon-DynamicProcessDefinition span.z-vfiletree-last,
div.yw-explorerTree .y-tree-icon-DynamicProcessDefinition span.z-vfiletree-ico
{
    background-image: url("images/explorer-tree/icons/0112_dynamicProcessDefinition.png");
}

/* Aligment Fix for scripting action */
.ya-com_hybris_cockpitng_actions_scriptingaction{
    padding:6px
}

/* Alignment Fix for Icons - Move to Exploretree css */

div.yw-explorerTree tr.z-treerow .z-treecell-cnt .yw-treeCellInner .z-label{
    padding-left: 10px;
}

.yw-desc-tooltip{
    max-width: 300px;
}


.y-editor-area-attributes-cnt-min  .z-groupbox-cnt .z-hbox,
.y-editor-area-attributes-cnt-min .z-groupbox-cnt table,
.y-editor-area-attributes-cnt-min .z-groupbox-cnt table tbody,
.y-editor-area-attributes-cnt-min .z-groupbox-cnt table tr,
.y-editor-area-attributes-cnt-min .z-groupbox-cnt table td{
    width: 100%;
    display: block;

}

.y-editor-area-attributes-cnt-min .z-groupbox-cnt .z-hbox .yw-editorarea-tabbox-tabpanels-tabpanel-groupbox-attrcell{
    display: block;
    width: 100%!important;
}


.y-editor-area-attributes-cnt-min .z-groupbox-cnt .z-hbox .yw-editorarea-tabbox-tabpanels-tabpanel-groupbox-ed-editor,
.y-editor-area-attributes-cnt-min .z-groupbox-cnt .z-hbox .yw-editor-area-main-content .ye-default-reference-editor,
.y-editor-area-attributes-cnt-min .z-groupbox-cnt .z-hbox .ye-default-reference-editor-selected-listbox,
.y-editor-area-attributes-cnt-min .z-groupbox-cnt .z-hbox .ye-default-reference-editor-selected-listbox > .z-listbox-body,
.y-editor-area-attributes-cnt-min .ye-default-reference-editor{
    width: 100%!important;
}
.y-editor-area-attributes-cnt-min .z-groupbox-cnt .z-hbox .z-hbox-sep{
    display: none;
}

/* MEDIUM */

.y-editor-area-attributes-cnt-avg  .z-groupbox-cnt .z-hbox,
.y-editor-area-attributes-cnt-avg .z-groupbox-cnt table{
    width: 100%;
    table-layout: fixed;

}

.y-editor-area-attributes-cnt-avg .z-groupbox-cnt .z-hbox .yw-editorarea-tabbox-tabpanels-tabpanel-groupbox-attrcell{
    width: 48%!important;
}

.y-editor-area-attributes-cnt-avg .z-groupbox-cnt .z-hbox .yw-editorarea-tabbox-tabpanels-tabpanel-groupbox-ed-editor,
.y-editor-area-attributes-cnt-avg .z-groupbox-cnt .z-hbox .yw-editor-area-main-content .ye-default-reference-editor,
.y-editor-area-attributes-cnt-avg .z-groupbox-cnt .z-hbox .ye-default-reference-editor-selected-listbox,
.y-editor-area-attributes-cnt-avg .z-groupbox-cnt .z-hbox .ye-default-reference-editor-selected-listbox > .z-listbox-body,
.y-editor-area-attributes-cnt-avg .ye-default-reference-editor{
    width: 100%!important;

}

/* LRG */


.y-editor-area-attributes-cnt-max  .z-groupbox-cnt .z-hbox,
.y-editor-area-attributes-cnt-max.z-groupbox-cnt table{
    width: 48%;
    float: left;
    padding-right: 2%;
}

.y-editor-area-attributes-cnt-max  .z-groupbox-cnt .z-hbox tr td > table{
    width: 100%;
    table-layout: fixed;
}


.y-editor-area-attributes-cnt-max .z-groupbox-cnt .z-hbox .yw-editorarea-tabbox-tabpanels-tabpanel-groupbox-attrcell{
    width: 24%!important;
}

.y-editor-area-attributes-cnt-max .z-groupbox-cnt .z-hbox .yw-editorarea-tabbox-tabpanels-tabpanel-groupbox-ed-editor,
.y-editor-area-attributes-cnt-max .z-groupbox-cnt .z-hbox .yw-editor-area-main-content .ye-default-reference-editor,
.y-editor-area-attributes-cnt-max .z-groupbox-cnt .z-hbox .ye-default-reference-editor-selected-listbox,
.y-editor-area-attributes-cnt-max .z-groupbox-cnt .z-hbox .ye-default-reference-editor-selected-listbox > .z-listbox-body,
.y-editor-area-attributes-cnt-max .ye-default-reference-editor{
    width: 100%!important;

}

.y-editor-area-attributes-cnt-max .z-groupbox-cnt .z-hbox .z-hbox-sep{
    width: 1%;
}

.y-editor-area-attributes-cnt-max .ye-com_hybris_cockpitng_editor_defaultdate, 
.y-editor-area-attributes-cnt-max .ye-com_hybris_cockpitng_editor_defaultdate table{
     width: 100%!important;
}

.y-workflow-apply.z-button-os {
    margin-top: 3px;
}

.yw-workflowaction-decision-section .yw-workflowaction-selected-decision{
    width: 300px;
}



