div.head-cell-inner {
	font-family:Verdana,Tahoma,Arial,serif;
	font-size:normal;
	font-weight:normal;
}

a.div.toolbar {
	font-family:Verdana,Tahoma,Arial,serif;
	font-size:normal;
	font-weight:normal;
}

div.menubar {
	background:#E9EFFA none repeat scroll 0%;
	cursor:pointer;
	padding:10px;
}
