.login_container {
	padding: 20px 0;
}

#recaptcha_widget {
	clear: both;	
}

.userDefinedContent {
	border: 1px solid #ccc;
}

.newCustomerRegister select {
	margin-top: 0;
}

.newCustomerRegister .phone .form_field-input input {
	width: auto;
}

.newCustomerRegister .extension .form_field-input input {
	width: 74px;
}

form .newCustomerRegister .extension label {
	padding-right: 0;
}

.msg .form_field-input textarea {
	width: 514px;
}

.form_link_password_register a{
	padding-top: 10px;
}


#registrationForm .msg{
	clear: both;
}